{% include 'recipes/partials/head.html' %}  {% comment %} o include é do django serve para colocar if, for entre outras funcionalidades. Nesse caso eu coloquei o caminho do "head.html" para juntar o código {% endcomment %}
<body>
    {% include 'recipes/partials/header.html' %}
    {% include 'recipes/partials/search.html' %}
    
    <main class="main-content-container">
        <div class="main-content main-content-list container">
            {% include 'recipes/partials/recipe.html' %}
        </div>
    </main>
    
</body>
</html>